:root {
  --text-color: #434455;
  --dark-color: #2e2f42;
  --primary-barnd-color: #4d5ae5;
  --background-color: #ffffff;
  --pressed-state-cl: #404bbf;
  --light-color: #f4f4fd;
  --heder-border-cl: #e7e9fc;
  --social-activ-cl: #31d0aa;
  --border-cl: #8e8f99;
  --castomer-cl: #8e8f99;
  --сubic: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop: rgba(46, 47, 66, 0.4);
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--brand-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
}
/* utylits */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* styles for index.html */

/**
  |============================
  | header section
  |============================
*/
.header .container {
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
}
.header {
  border-bottom: 1px solid var(--heder-border-cl);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* logo */
.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  margin-right: 76px;

  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;

  color: var(--primary-barnd-color);
}

.this-page {
  position: relative;
}
.this-page .list-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;

  background: var(--pressed-state-cl);
  border-radius: 2px;
}

.nav-logo-item {
  color: var(--dark-color);
}

/* navigation */
.nav {
  display: flex;
  align-items: center;
  margin-right: auto;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.nav .list {
  display: flex;
  margin-left: 76px;
  gap: 40px;
}

.nav-link {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.list .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--dark-color);
  transition: color 250ms var(--сubic);
}
.list .nav-link:hover,
.list .nav-link:focus {
  color: var(--pressed-state-cl);
}

/* address */
.address {
  font-style: normal;
}
.address-item.link {
  color: var(--text-color);
}
.address .list {
  display: flex;
  gap: 40px;
}
.address-item {
  transition: color 250ms var(--сubic);
}
.address-item:hover,
.address-item:focus {
  color: var(--pressed-state-cl);
}
/**
  |============================
  | hero section
  |============================
*/

.hero {
  padding: 188px 0;
  max-width: 1440px;
  min-height: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--dark-color);

  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/main/people-office.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;

  max-width: 496px;
  text-align: center;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  color: var(--background-color);
}

/* batton */
.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;

  color: var(--background-color);
  background-color: var(--primary-barnd-color);
  cursor: pointer;

  transition: 250ms var(--сubic);
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state-cl);
}

/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  min-width: 408px;
  min-height: 576px;
  padding: 24px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-icon {
  width: 24px;
  height: 24px;
  margin-left: auto;
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: #e7e9fc;
  background-size: cover;

  transition: 250ms var(--сubic);
}
.icon-close {
  fill: currentColor;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state-cl);
  color: var(--light-color);
  cursor: pointer;
}

/**
  |============================
  | features section
  |============================
*/
.features {
  padding: 120px 0;
}
.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 264px;
  height: 112px;
  margin: 0 0 8px 0;

  /* CLOUD */

  background: var(--light-color);
  border-radius: 4px;
}
.features-icon .icon {
  width: 64px;
  height: 64px;
  justify-content: center;
}
.features-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;

  color: var(--dark-color);
}
.features-paragraf {
  letter-spacing: 0.02em;
}

.features-description {
  display: flex;
  gap: 24px;
}
.features-list {
  flex-basis: calc((100% - 72px) / 4);
}

/**
  |============================
  | product section
  |============================
*/
.product-section {
  padding-bottom: 120px;
}
.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;

  color: var(--dark-color);
}

.list.product {
  display: flex;
  gap: 24px;
}

.title.product {
  margin-bottom: 72px;
}
/**
  |============================
  | team seection
  |============================
*/

.team {
  padding: 120px 0;

  background-color: var(--light-color);
}

.team .list {
  display: flex;
  gap: 24px;
}

.team-item {
  flex-basis: calc((100% - 72px) / 4);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color);
}

.team-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

  color: var(--dark-color);
}

.team-posicion {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-descr {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
}

/* icons */

.social-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-icon-list-item {
  width: 40px;
  height: 40px;
}

.link-icon {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  background-color: var(--primary-barnd-color);

  border-radius: 50%;

  transition: 250ms var(--сubic);
}
.link-icon:hover,
.link-icon:focus {
  background-color: var(--pressed-state-cl);
}

.link-icon .icon {
  fill: var(--light-color);
}
/**
  |============================
  |Castomers section
  |============================
*/
.castomers {
  padding: 120px 0;
  text-align: center;
}

.castomers-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  /* identical to box height, or 111% */

  margin-bottom: 72px;

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: var(--dark-color);
}
.castomers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.castomers-list-item {
  width: 168px;
  height: 88px;

  /* padding: 16px 32px; */
}

/* ===ICONS ===*/
.castomers-link {
  color: var(--castomer-cl);

  /* width: 100%; */
  height: 100%;

  border: 1px solid var(--border-cl);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 250ms var(--сubic);
}
.castomers-icon {
  fill: currentColor;
}

.castomers-link:hover,
.castomers-link:focus {
  border-color: var(--pressed-state-cl);
  color: var(--pressed-state-cl);
}

/**
  |============================
  | footer
  |============================
*/

.footer {
  padding: 100px 0;

  background-color: var(--dark-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
  gap: 120px;
}
.footer-logo {
  display: inline-block;
  align-items: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 16px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  color: var(--primary-barnd-color);
}
.footer-logo-item,
.footer .text {
  color: var(--light-color);
}

.footer .text {
  width: 264px;
}

.footer-social-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  margin-bottom: 16px;

  /* WHITE */

  color: var(--background-color);
}
.footer-list {
  display: flex;
  gap: 16px;
}
.footer-list-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;

  background-color: var(--primary-barnd-color);
  background-size: cover;

  transition: 250ms var(--сubic);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--social-activ-cl);
}
.footer .icon {
  fill: var(--light-color);
}
/**
  |============================
  | portfolio page
  |============================
*/
.section-portfolio {
  padding: 96px 0 120px;
}

/* filter */
.portfolio-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 12px 24px;

  border: 1px solid var(--heder-border-cl);
  border-radius: 4px;
  cursor: pointer;

  background: var(--light-color);
  color: var(--primary-barnd-color);

  transition: 250ms var(--сubic);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--background-color);
  background-color: var(--pressed-state-cl);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list.filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

/* product */
.portfolio-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--dark-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
/* Cards */

.list.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card {
  width: 360px;

  background: #ffffff;
}
.card .link {
  display: block;
  transition: 250ms var(--сubic);
}
.card .link:hover,
.card .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-categories {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* overlay cards */
.box-overlay {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 164px 32px;

  background-color: var(--primary-barnd-color);
  transform: translateY(100%);
  transition: transform 250ms ease;
}
.card:hover .overlay {
  transform: translateY(0);
}
.overlay p {
  color: var(--light-color);
}
